@model IEnumerable<SelectListItem> 

@using (Html.BeginForm("Index", "Meal", FormMethod.Post, new { Id = "newProduct" }))
{
    <div class="modal fade" id="modal-container-29792-manage" role="dialog" aria-hidden="true" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabelNewProduct">
                        Manage Product
                    </h4>
                </div>
                <div class="modal-body">
                    @Html.DropDownList("products", Model, new { id = "prodOption", onChange = "return findProduct();" })  
<br/>
                    <table>
                        <tr>
                            <td style="width:10px;">
                                Product Name:
                            </td>
                            <td>
                                @Html.TextBox("productName_manage")
                            </td>
                            <td id="pn" style="color:red;">
                                <input type="text" id="proCat_manage" value="" style="visibility:collapse;"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                small. Price:
                            </td>
                            <td>
                                @Html.TextBox("smallprice_manage")
                            </td>
                            <td id="sp" style="color:red;"></td>
                        </tr>
                        <tr>
                            <td>
                                Med. Price:
                            </td>
                            <td>
                                @Html.TextBox("medprice_manage")
                            </td>
                            <td id="mp" style="color:red;"></td>
                        </tr>
                        <tr>
                            <td>
                                Large. Price:
                            </td>
                            <td>
                                @Html.TextBox("largeprice_manage")
                            </td>
                            <td id="lp" style="color:red;"></td>
                        </tr>
                        <tr>
                            <td>
                                Description:
                            </td>
                            <td>
                                @Html.TextArea("description_manage")
                            </td>
                            <td id="descr" style="color:red;"></td>
                        </tr>
                    </table>    
                </div>
                <div class="modal-footer">
                    <button id="btn-close" class="btn btn-default" type="button" data-dismiss="modal">
                        Close
                    </button>
                    <a id="save_manage" class="btn btn-primary" data-dismiss="modal">
                        Save
                    </a>
                </div>
            </div>
        </div>
    </div>
}
